*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color:#fff;
    --main-color:#0ef;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a{
    font-size:1.7rem;
    margin-left: 4rem;
    color: var(--text-color);
    transition: .3s;
}
.navbar a:hover,
.navbar a.active {
    color: var(--bg-color);
}
menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
    
}#home{
    padding-top: 200px;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    
}.auto-typed{
    color:#d400d4;
}.home-content{
    padding-top: 100px;
    font-size: 3rem;
    color: var(--text-color);
    width: 50%;
    float: left;
    position: absolute;
    top: 50%;
    Left: 50%;
    transform: translate(-50%,-50%) ;
    margin: 0;
    color: #fff;
    text-shadow: 0 0 20px #d400d4;
}#element{
    color: var(--main-color);
}.box{
    float: right;
    position: relative;
    width: 400px;
    height: 400px;
    background: var(--bg-color);
    border-radius: 50%;
}.box::before{
    content: '';
    position: absolute;
    inset: -10px 140px;
    background: linear-gradient( 315deg,#00ccff,#d400d4);
    transition: 0.5s;
    animation: animate 4s linear infinite;
    border-radius: 50%;
}.box:hover::before{
    inset: -20px 0px;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}.box::after{
    content: '';
    position: absolute;
    inset: 6px;
    background: var(--bg-color);
    border-radius: 50%;
}
.content{
    position: absolute;
    inset: 30px;
    z-index: 3;
    overflow: hidden;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}.content img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
}.box:hover .content img{
    opacity: 0;
}.content h2{
    position: relative;
    font-size: 2em;
    text-align: center;
    color: var(--text-color);
    letter-spacing: 0.05em;
    text-transform: uppercase;
}.content a{
    position: relative; 
    margin-top: 10px;
    padding: 10px 20px; 
    background: var(--main-color);
    color: #070a1c;
    border-radius: 25px;
    font-weight: 500;
}#about{
    padding-top: 600px;
}
#about h2 {
    position: relative;
    font-size: 6em;
    Letter-spacing: 15px; 
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 30px;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0008);
    Line-height: 0.70em;
    outline: none;
    animation: animate1 5s linear infinite;
  }
  @keyframes animate1{
    0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92%
    {
        color: #0e3742;
        text-shadow: none;
    }
    18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100%
    {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4;
    }
}
  
  #about p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  
  #about img {
    width: 258px;
    height: 390px;
    border-radius: 20px;
  }
  .col-md-6{
    padding: 0px;
    position: relative;
    width: 290px;
    height: 400px;
    background: rgba(31, 36, 45, 0.75);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }.col-md-6::after{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent,transparent,transparent,#d400d4);
    animation: animate2 4s linear infinite;
    animation-delay: -2s;
  }.col-md-6::before{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent,transparent,transparent,#00ccff);
    animation: animate2 4s linear infinite;
  }
  @keyframes animate2{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
  }.col-md-6 .frame{
    position: absolute;
    inset: 5px;
    border-radius: 20px;
    background: var(--bg-color);
    z-index: 1;
  }.about .container .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }.col-md-6{
    flex-basis: 20%;
  }.col-md-61{
    flex-basis: 60%;
  }
  .Services{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
    gap: 40px 60px;
  }
  .Services .drop{
    position: relative;
    width: 350px;
    height: 350px;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
    25px 35px 20px rgba(0, 0, 0, 0.05),
    25px 30px 30px rgba(0, 0, 0, 0.05),
    inset -20px -20px 25px rgba(212, 0, 212, 0.9);
}.Services .drop:nth-child(7){
    border-radius: 57% 43% 43% 57% / 43% 43% 57% 57%;
}.Services .drop:nth-child(8){
    border-radius: 61% 39% 52% 48% / 44% 59% 41% 56%;
}.Services .drop:nth-child(9){
    border-radius: 35% 65% 31% 69% / 57% 59% 41% 43%;
}.Services .drop:hover{
    border-radius: 50%;
    transition: 1s;
}
.Services .drop::before{
    content: '';
    position: absolute;
    top: 50px;
    left: 90px;
    width: 35px;
    height: 35px;
    background: rgba(61, 70, 87, 0.2);;
    border-radius: 50%;
    opacity: 0.9;
}
  #Services h2 {
    text-align: right;
    position: relative;
    font-size: 6em;
    Letter-spacing: 15px; 
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 30px;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0008);
    Line-height: 0.70em;
    outline: none;
    animation: animate1 5s linear infinite;
  }
  @keyframes animate1{
    0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92%
    {
        color: #0e3742;
        text-shadow: none;
    }
    18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100%
    {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4;
    }
}
  .Portfolio{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
    gap: 40px 60px;
  }
.Portfolio .drop{
    position: relative;
    width: 350px;
    height: 350px;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
    25px 35px 20px rgba(0, 0, 0, 0.05),
    25px 30px 30px rgba(0, 0, 0, 0.05),
    inset -20px -20px 25px rgba(255, 255, 255, 0.9);
}
#Portfolio{
    padding-top: 200px;
}
#Portfolio h2 {
    position: relative;
    font-size: 6em;
    Letter-spacing: 15px; 
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 30px;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0008);
    Line-height: 0.70em;
    outline: none;
    animation: animate1 5s linear infinite;
  }
  @keyframes animate1{
    0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92%
    {
        color: #0e3742;
        text-shadow: none;
    }
    18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100%
    {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4;
    }
}.Portfolio .drop:nth-child(2){
    border-radius: 57% 43% 43% 57% / 43% 43% 57% 57%;
}.Portfolio .drop:nth-child(3){
    border-radius: 61% 39% 52% 48% / 44% 59% 41% 56%;
}.Portfolio .drop:nth-child(4){
    border-radius: 35% 65% 31% 69% / 57% 59% 41% 43%;
}.Portfolio .drop:nth-child(5){
    border-radius: 35% 65% 31% 69% / 57% 59% 41% 43%;
}.Portfolio .drop:nth-child(6){
    border-radius: 35% 65% 31% 69% / 57% 59% 41% 43%;
}.Portfolio .drop:nth-child(7){
    border-radius: 35% 65% 31% 69% / 57% 59% 41% 43%;
}.Portfolio .drop:hover{
    border-radius: 50%;
    transition: 1s;
}.Portfolio .drop::before{
    content: '';
    position: absolute;
    top: 50px;
    left: 90px;
    width: 35px;
    height: 35px;
    background: rgba(61, 70, 87, 0.2);;
    border-radius: 50%;
    opacity: 0.9;
}.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact .container{
    position: relative;
    z-index: 1000;
    width: 100%;
    max-width: 1000px;
    padding: 50px;
    background: rgba(61, 70, 87, 0.2);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(61, 70, 87, 0.25);
    border-right: 1px solid rgba(61, 70, 87, 0.1);
    border-bottom: 1px solid rgba(61, 70, 87, 0.1);
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(25px);
}.contact .container::before{
    content: '';
    position: absolute;
    top: 0;
    left: -40%;
    width: 100%;
    height: 100%;
    background: rgba(61, 70, 87, 0.05);
    pointer-events: none;
    transform: skewX(-145deg);
    
}.contact h3{
    position: relative;
    width: 100%;
    text-align: center;
    color: var(--text-color);
    font-size: 36px;
    margin-bottom: 20px;
}.contact .container .row100{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}.contact .container .row100 .col{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 20px;
}.contact .container .row100 .col .inputbox{
    position: relative;
    width: 100%;
    height: 40px;
    color: var(--text-color);
}.contact .container .row100 .col .inputbox input,
.contact .container .row100 .col .inputbox textarea{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0 10px;
    z-index: 1;
    color: var(--text-color);
}.contact .container .row100 .col .inputbox .text{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}.contact .container .row100 .col .inputbox input:focus+.text,
.contact .container .row100 .col .inputbox input:valid+.text,
.contact .container .row100 .col .inputbox textarea:focus+.text,
.contact .container .row100 .col .inputbox textarea:valid+.text{
    top: -35px;
    left: -10px;
}.contact .container .row100 .col .inputbox .line{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #0ef;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}.contact .container .row100 .col .inputbox input:focus~.text,
.contact .container .row100 .col .inputbox input:valid~.text{
    height: 100%;
}.contact .container .row100 .col .inputbox .textarea{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}
.contact .container .row100 .col .inputbox textarea:focus~.text,
.contact .container .row100 .col .inputbox textarea:valid~.text{
    height: 100%;
}.neon{
    position: relative;
    display: inline-block;
    margin: 40px 0;
    color: var(--main-color);
    font-size: 24px;
    text-decoration: none;
    transition: 0.5s;
    letter-spacing: 4px;
}
a:hover{
    background-color: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
}#contact h2 {
    padding-top: 50px;
    text-align: end;
    position: relative;
    font-size: 6em;
    Letter-spacing: 15px; 
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 30px;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0008);
    Line-height: 0.70em;
    outline: none;
    animation: animate1 5s linear infinite;
}.neon1{
    padding: 5px;
    text-align: end;
    position: relative;
    color: var(--text-color);
    background-color:var(--main-color);
    border-radius: 20px;
}
.neon1:hover{
    background-color: #d400d4;
    color: #050801;
    box-shadow: 0 0 5px #d400d4,
                0 0 25px #d400d4,
                0 0 50px #d400d4,
                0 0 100px #d400d4;
}.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #d400d4;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #d400d4;
    font-size: 14px;
}
.tab-contents{
    display: none;

}
.tab-contents.active-tab{
    display: block;
}